.pokemon-options {
    margin: 20px;
    display: flex;
    width: 80%;
    justify-content: space-around;
}

label img {
    height: 200px;
    opacity: 50%;
}
label img:hover {
    opacity: 100%;
    border: 3px solid hotpink;
}

input[type=radio] {
    display: none;
}

input[type=radio]:checked + img {
    border: 3px solid hotpink;
    filter: none;
}
header {
    text-align: center;
}
body #submit-btn{
    display: flex;
    margin:auto;
    background-color: aqua;
}
a{
    font-size: 1.5em;
    margin-left: 400px;
}
h1{
    font-size: 3em;
    margin-bottom: 40px;
}